<h1>Thank you very much for being part of and supporting our initiative!<br
        />
        The names you see below have signed this petition as well.
    </h1>
    <ul>
        {{#signers}}
            <li>
                {{#if homepage}}
                    <a href={{homepage}}>{{first}} {{last}}</a>
                {{else}}
                    {{first}}
                    {{last}}
                {{/if}}

                {{if age}}
                {{age}},{{city}}
                {{/if}}
            </li>
        {{/signers}}
    </ul>
